---
layout: bootcamp
root: .
venue: Universidade Federal do Rio de Janeiro
address: Auditório Ministro João Alberto Lins de Barros do CBPF – Rua Lauro Muller, 455 – térreo – Botafogo – Rio de Janeiro – RJ
country: Brazil
humandate: Aug 18, 2014
humantime: 9:00 am - 13:00 pm
startdate: 2014-08-18
enddate: 2014-08-18
latlng: -22.954318,-43.174687
registration: open
instructor: ["Alex Viana", "Raniere Silva"]
helper: []
contact: raniere@ime.unicamp.br
---
<!--
    Edite os valores nas opções acima de forma adequada ao seu workshop.
    Por favor utilize três letras para o nome dos meses no campo 'humandata'.
-->

<div class="hero-unit">
  <div class="row-fluid">
    <div class="span10">
      <h2>{{page.venue}}</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <p>{{page.humandate}}</p>
      <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
    </div>
    <div class="span6">
      <p>
      <strong>Instrutores:</strong>
      {% if page.instructor %}
      {{page.instructor | join: ', ' %}}
      {% else %}
      a serem anunciados.
      {% endif %}
      </p>
      {% if page.helper %}
      <p>
      <strong>Auxiliares:</strong>
      {{page.helper | join: ', ' %}}
      </p>
      {% endif %}
    </div>
  </div>
</div>

<!-- Remova o block abaixo. -->
<div align="center">
  <p><strong><em>
      Essa página é o template para o página inicial do seu workshop.
      <br/>
      Por favor veja
      <a href="//github.com/swcarpentry/bc">github.com/swcarpentry/bc</a>
      para instruções de como criar um repositório para o seu workshop.
  </em></strong></p>
</div>

<p><a href="index-en.html">English version</a></p>

<!--
    Esse bloco inclui o registro pelo Eventbrite se 'eventbrite' foi configurado
    nas informações iniciais.
-->
{% if page.eventbrite %}
<iframe src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>Informações Gerais</h2>

<p>
  A missão da <a href="//software-carpentry.org">Software Carpentry</a>
  é ajudar cientistas e engenheiros a serem mais produtivos ao ensinar
  habilidades computacionais básicas como programação, controle de versão,
  gerenciamento de dados e automatização de tarefas. Este workshop irá cobrir
  conceitos e ferramentas básicas.
</p>
<p>
  Os participantes são encorajados a ajudar uns
  aos outros e aplicar o que aprenderem em suas próprias pesquisas.
</p>

<!--
    Modifique esse bloco para refletir o publico alvo do seu workshop.
    Em particular, se ele é aberto apenas para pessoas de uma instituição em
    particular ou se algum conhecimento é requisitado.
-->
<p>
  <strong>Público:</strong>
  Este curso é destinado a professores e alunos de pós-graduação.
</p>

<!--
    Esse bloco mostra o endereço e links para mapas com direções.
-->
{% if page.latlng %}
<p>
  <strong>Onde:</strong>
  {{ page.address }}.
  Direções podem ser obtidas no
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  ou
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modifique esse bloco se existe alguma requisito especial.
-->
<p>
  <strong>Requisitos:</strong>
  Participantes devem trazer seu notebook com os programas listados abaixo já
  instalados.
</p>

<!--
    Esse block automaticamente adiciona informações de contato por email se essa
    informação foi fornecida ou utiliza o contato genérico da Software Carpentry.
-->
<p>
  <strong>Contatos:</strong>:
  Para maiores informações enviar enviar um email para
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  .
</p>

<hr/>

<!--
    Edite esse bloco para mostrar o cronograma do seu workshop.
-->
<h2>Programação</h2>

<div class="row-fluid">
  <div>
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Introdução</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>Intervalo</em></td> </tr>
      <tr> <td>01:00</td> <td>Exercícios</td> </tr>
    </table>
  </div>
</div>

<hr/>

<!--
    Edite esse block para mostrar os tópicos que serão abordados.
-->
<h2>Programa</h2>

<div class="row-fluid">
  <div>
    <h3>Controle de Versão com Git</h3>
    <ul>
      <li>Criando repositórios</li>
      <li>Salvando mudanças em arquivos: <code>add</code>, <code>commit</code>,
        ...</li>
      <li>Visualizando alterações: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando arquivos</li>
      <li>Trabalhando com a web: <code>clone</code>, <code>pull</code>,
        <code>push</code>, ...</li>
      <li>Resolvendo conflitos</li>
      <li>Licenças Abertas</li>
      <li>Onde hospedar seu trabalho e porque</li>
      <li><a href="novice/ref/02-git.html">Referências...</a></li>
    </ul>
  </div>
</div>

<hr/>

<h2>Configuração</h2>

<p>
  Para participar de um workshop da Software Carpentry, você vai precisar dos
  seguintes programas instalados. Por favor, tenha certeza de ter instalado
  todos os programas ou de ao menos baixar os instaladores <em>antes</em> do
  workshop começar.
</p>

<!--
    Edite as instruções em _includes/setup-pt.html para refletir seu workshop.
    (Em particular, a maioria dos workshop ensina Python ou R e não ambos.)
-->
{% include setup-pt.html %}
